NEXT_PUBLIC_API_URL=http://localhost:8000
NEXTAUTH_SECRET=supersecret
NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_GOOGLE_CLIENT_ID=151166489156-nfn3nm6n64crcs5hkf05pb5c9g6jlfk0.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=
